<div class="row w-50 mx-auto" >
    <p class="w-100 text-center">
        Welcome to your dashboard
        <% if current_user.status == "administrator" %>
           <span style="color:green; font-weight: bold"> <%= "#{current_user.surname} #{current_user.firstname}" %> </span>
        <% else %>
            <span style="color:purple; font-weight: bold"> <%= "#{current_user.surname} #{current_user.firstname}" %> </span>
        <% end %>
    </p>
</div>
<div class="row w-75 mx-auto">
    <h4>users</h4>
    <% if @users %>
        <table class="table" >
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            <% @users.each do |u| %>
                <tr>
                    <td> <%= "#{u.surname} #{u.firstname}" %> </td>
                    <td> <%= u.email %> </td>
                    <% if u.status == "administrator" %>
                        <td> Admin </td>
                    <% else %>
                        <td> User </td>
                    <% end %>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <%= link_to "Change Role", changeRole_path(u.id), data: { "turbo-method": :post }, style:"color:white", class: "text-decoration-none" %>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <%= link_to "delete", deleteUser_path(u.id), data: { "turbo-method": :delete }, class: "text-decoration-none", style: "color:white" %>
                        </button>
                    </td>
                </tr>
            <% end %>
        </table>
    <% end %>

</div>
